body {
  color: antiquewhite;
  font-family: Helvetica, verdana, sans-serif;
  background-color: gainsboro;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px 35px;
  background-color: #080808;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("./25100.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 15px;
  font-size: 36px;
  color: #493a5a;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header a {
  text-decoration: none;
  color: #493a5a;
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: rgb(199, 181, 199);
  color: gray;
  border-radius: 10px;
  text-shadow: none;
}

/*Hero style*/

.hero {
  background-image: url("../assets/dreamstime_xxl_88755164.jpg");
  height: 600px;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
}

/*Hero style end*/

.card {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
}

.about-me {
  text-align: center;
  border: 2px solid #493a5a;
  background-color: rgba(128, 128, 128, 75%);
  transform: rotate(-90deg)
}

.main-container {
  display: flex;
  justify-content: flex-end;
}

.container {
  border-bottom: 1px solid gray;
  margin-bottom: 2px;
}

.name {
  border: 2px solid blue;
  justify-content: flex-end;
}

.bio-pic {
  width: 25%;
  border: 2px solid orange;
  justify-content: flex-end;
}

/* End Hero Style*/

/* Example Section*?

/* Footer Style*/

.example-container { 
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(0, 255, 136);
}

.work-label {
  text-align: center;
  border: 2px solid #493a5a;
  background-color: rgba(128, 128, 128, 75%);
  transform: rotate(-90deg);
}

.work-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-end;
  align-content: space-around;
  border: 2px solid orange;
  padding: 10px;
 
 
}
/* 
.example-container {
  display: flex;
  justify-content: flex-end;
  border: 2px solid rgb(255, 0, 191);
  justify-content: flex-end; */

/* End Example Section*/

/* Contact Section */

.contact-card {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
}

.contact-label {
  text-align: center;
  border: 2px solid #493a5a;
  background-color: rgba(128, 128, 128, 75%);
  transform: rotate(-90deg);
}

.contact-label .cm-buttons a {
  text-decoration: none;
  color: #493a5a;
}

.cm-buttons nav {
  margin: 10px 0;
}

.cm-buttons nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.cm-buttons nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cm-buttons nav ul li a:hover {
  background: rgb(199, 181, 199);
  color: gray;
  border-radius: 10px;
  text-shadow: none;
}

/* End Contact Section */

footer {
  background-image: url("./25100.jpg");
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: #493a5a;
  text-align: right;
  font-size: 30px;
  margin: 0;
}

/*end footer*/