body {
  color: antiquewhite;
  font-family: Helvetica, verdana, sans-serif;
  background-color: gainsboro;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px 35px;
  background-color: #080808;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("./25100.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 15px;
  font-size: 36px;
  color: #493a5a;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header a {
  text-decoration: none;
  color: #493a5a;
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: rgb(199, 181, 199);
  color: gray;
  border-radius: 10px;
  text-shadow: none;
}

/*Hero style*/

.hero {
  background-image: url("../assets/dreamstime_xxl_88755164.jpg");
  height: 600px;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
}

/*Hero style end*/

.card {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.about-me {
  text-align: center;
  /* border: 2px solid #493a5a; */
  background-color: rgba(128, 128, 128, 75%);
  transform: rotate(-90deg);
  border-radius: 14px;
  padding: 10px
}

.main-container {
  display: flex;
  justify-content: flex-end;
}

.container {
  /* border-bottom: 1px solid gray; */
  margin-bottom: 2px;
  padding-bottom: 10px;
}

.name {
  justify-content: flex-end;
}

.bio-pic {
  width: 25%;
  border: 2px solid antiquewhite;
  justify-content: flex-end;
  border-radius: 14px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* End Hero Style*/

/* Start Example Section*/
.example-container {
  display: flex;
  /* padding: 10px; */
  justify-content: space-between;
  align-items: center;
  border-top: 10px solid #493a5a;
  border-bottom: 10px solid #493a5a;
  /* border: 2px solid rgb(0, 255, 136); */
}

.work-label {
  text-align: center;
  /* border: 2px solid #493a5a; */
  background-color: rgba(128, 128, 128, 75%);
  transform: rotate(-90deg);
  border-radius: 14px;
  padding: 10px;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border-radius: 14px; */
}

.work-link1 {
  height: 300px;
  width: 300px;
  background-image: url(./Screenshot\ \(12\).png);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid antiquewhite;
  border-radius: 14px;
  padding: 10px;
  flex-basis: 100%;
}
.work-link2 {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 24%;
  background-image: url(./Screenshot\ 2021-03-14\ 104411.png);
  border: 2px solid antiquewhite;
  border-radius: 14px;
}
.work-link3 {
height: 200px;
width: 200px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
flex-basis: 24%;
background-image: url(./workdayscreenshot.png);
border: 2px solid antiquewhite;
border-radius: 14px;
}

.work-link4 {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 24%;
  background-image: url(./WeatherDashboardScreen.png);
  border: 2px solid antiquewhite;
  border-radius: 14px;
  }



 .work-link5 {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 24%;
  background-image: url(./worklinkimage4.png);
  border: 2px solid antiquewhite;
  border-radius: 14px;
}

div.work-container span {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 50%;
  border-radius: 14px;
  background-color: rgba(128, 128, 128, 75%);
  color: antiquewhite;
  padding: 10px 5px;
  text-align: center;
}

.work-link1 a {
  text-decoration: none;
  color: antiquewhite;
}

/* End Example Section*/

/* Contact Section */

.contact-card {
  display: flex;
  padding: 10px;
  margin: 50px 0 50px 0;
  justify-content: space-between;
  align-items: center;
}

.contact-label {
  text-align: center;
  /* border: 2px solid #493a5a; */
  background-color: rgba(128, 128, 128, 75%);
  transform: rotate(-90deg);
  border-radius: 14px;
  border-right: 2px solid #493a5a;
  padding: 10px;
}

.cm-buttons nav {
  margin: 10px 0;
}

.cm-buttons nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.cm-buttons nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #493a5a;
}

.cm-buttons nav ul li a:hover {
  background: rgb(199, 181, 199);
  color: gray;
  border-radius: 10px;
  text-shadow: none;
}

/* End Contact Section */

footer {
  background-image: url("./25100.jpg");
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: #493a5a;
  text-align: right;
  font-size: 30px;
  margin: 0;
}

/*end footer*/

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  .card, .example-container, .contact-card {
    width: 90%;
    text-align: center;
    flex: 0 80%;
  }
  .hero {
    width: 90%;
    flex: 0 80%;
  }
  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  .main-container {
    flex-direction: column;
    font-size: 25px;
    align-items: center;
  }
  .cm-buttons {
    align-items: center;
    font-size: 25px;
    justify-content: center;
  }
}

@media screen and (max-width: 768) {}

@media screen and (max-width: 575px) {
  .header {
    width: 90%;
  }
  header nav ul li a {
    font-size: 25px;
  }
  .main-container {
    width: 100%;
  }
  .work-container {
    flex: 0 100%;
  }
  .contact-card {
    text-align: center;
  }
  .contact-card {
    flex: 0 100%;
  }
  .cm-buttons {
    align-items: center;
    flex-direction: column;
  }
  .cm-buttons nav ul li {
    font: 75px;
  }
}